<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>vdr</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>logo.png</string>
            <key>CFBundleTypeName</key>
            <string>Vader Source File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.vader.language</string>
    <key>CFBundleName</key>
    <string>Vader</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
</dict>
</plist>